/* BETTER VISUAL REFRESH by Yae Mica.
   Restores the layout of the old UI to most areas of the new "Visual Refresh" UI without 
   breaking stuffs.

   Special thanks to the Vencord community server for these snippets. 
   Feel free to adjust to your liking. 

   Usage: Add the following line to THE TOP your QuickCSS 
   @import url("https://raw.githubusercontent.com/YMica-OSE/BetterVisualRefresh/refs/heads/main/BetterVisualRefresh.css");
   If you want to modify the contents, either copy this entire file to QuickCSS, 
   or upload this file to GitHub and change the import link to that.

   Be sure to give it a read first so you know what's gonna happen. */

/* Neccesary imports (MUST BE BEFORE ANY CSS CODE) */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/browser.css"); /* (!) */
@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/OtherStuff/Search-As-Button.css");

/* Revert guild list look (1st import) [scattagain] */
/* Also remove the web download button while at it [me] */
div[class^="listItem"]:has([data-list-item-id="guildsnav___app-download-button"]) {
	display: none !important;
}

/* No top bar new UI (2nd import + this below) [surgedevs & me] */
/* (!) VERY IMPORTANT CAVEAT:
   You can only have a single QuickCSS per account if you have settings sync with Vencord, 
   meaning whatever variant you use for the 2nd import will be used across ALL clients and web 
   instances. (The variants are desktop.css, browser.css - hidden.css is NOT recommended). 
   Using desktop.css on web and clients with native titlebar will cause paddings between 
   the Inbox/Help (IH) buttons and the rest of the right-hand side toolbar (RHST); and using 
   browser.css on clients with built-in window buttons will cause the IH to overlap the RHST. 
   Therefore, if you want to synchronize the look of web and clients, I recommend using 
   browser.css on client AND enable native titlebar, as well as including the built-in window
   buttons removal snippet (see below). This way the IH and RHST will scale properly just like
   how they do on web. 
   If you don't plan to use web and want to keep the built-in window buttons, use desktop.css 
   and comment out the window buttons removal. */
:root {
	--vr-header-snippet-server-padding: 0px !important; /* See .tutorialContainer__1f388 */
	--custom-channel-textarea-text-area-height: 52px !important;
}
.platform-win, .platform-linux, .platform-web {
	/* Controls the space above the DMs/Discord icon button for other platforms. 
	   12px was the size on the old UI 
	   The reason why we are doing this instead of the variable is because doing 
	   so creates a top gap when you scroll up. */
	.tutorialContainer__1f388 {
		margin-top: 12px !important;
	}
}
.platform-osx { /* Control for macOS clients to account for the "traffic lights" */
	.tutorialContainer__1f388 {
		margin-top: 34px !important;
	}
	.mention__3b95d {
		margin-top: 34px;
	}
	[class^="stack_dbd263 scroller_ef3116"] {
		/* Add top soft-edge for when you scroll */
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 24px, rgba(0, 0, 0, 1) 34px);
	}
}
.visual-refresh {
	.toolbar__9293f {
		/* Padding for the RHST. 
		   There is a variable that also controls this in the imported CSS, but I find that
		   seeminly breaks when the horizontal size of the IH changes, so we use this */
		padding-right: 8px;
		.iconWrapper__9293f {
			left: 4px; /* This also shifts the search icon when unfocused (see 3rd import) */
		}
	}
	.trailing_c38106 {
		/* IH buttons without the built-in window buttons to it will look sticked to the right
		   Remove this padding if you keep the window buttons */
		padding-right: 8px;
	}
	.searchBar__1ac1c {
		/* Alignment fix for search bar in Discover tab */
		position: relative;
		right: 80px;
	}
	/* Makes sure the notice bars on top (for things like Streamer Mode) won't overlap server list. 
	   Based on evie.flower's code */
	.notice__6e2b9 {
		--custom-notice-bar-excess: 32px; /* The bars are somehow longer than 100%? */
		width: calc(100% - var(--custom-guild-list-width) - var(--custom-notice-bar-excess)); 
		left: var(--custom-guild-list-width);
		border-radius: 0px; /* Rounded corner elimination */
	}
	.notice_c9e42f { /* And it differs between bars as well? (This is the "View server as role" bar) */
		--custom-notice-bar-excess: 17px; 
	}
}
/* Account spacing of the RHST when there's the "Update Now!" button [me] */
.visual-refresh:has(.button__85643[aria-label="Update Ready!"]) {
	.toolbar__9293f {
		padding-right: 55px !important;
	}
}
/* Positioning for the RHST and IH buttons when side chat is opened (threads/VC chat) [still me] */
.visual-refresh:has(.container__01ae2) { /* container__01ae2 = side chat */
	.container__9293f {
		padding-right: 10px !important;
	}
	.trailing_c38106 {
		right: 40px !important;
	}
	.container__01ae2 {
		.children__9293f {
			margin-right: 100px;
		}
	}
}
.visual-refresh:has(.container__01ae2):has(.iconWrapper__9293f[aria-label="More"]) { 
	/* side chat with the "more" (...) button */
	.trailing_c38106 {
		right: 80px !important;
	}
}
.visual-refresh:has(.returnButton__0b563) {
	/* hide the button in the Channel select page since it goes nowhere */
	.trailing_c38106 {
		display: none;
	}
}
/* top padding for when the top banner shows */
.visual-refresh:has(.notice__6e2b9) {
	.trailing_c38106 {
		top: 36px;
	}
}
.visual-refresh:has(.notice_c9e42f) {
	.trailing_c38106 {
		top: 36px;
	}
}

/* Make search box a button when unfocused (3rd import) [KrstlSkll69] */
/* Fix the icon alignment [me] */
.icon_fea832 {
	left: 8px;
}

/* Remove the unneccesary invite button on the server banner (me) */
.visual-refresh {
	.inviteButton_f37cb1 {
		display: none;
	}
}

/* Remove built-in window buttons on clients. For use with native titlebar and browser.css [me] */
div[class^="winButtons"] {
	display: none !important;
}
/* Make the window buttons clickable (see above). [also me]
   For use with clients with native titlebar disabled (comment out the removal one of course)  */
/* 
div[class^="winButtons"] {
	pointer-events: auto;
}
*/

/* Remove 1px padding across the new UI (I forgot who I sourced this from, sorry) */
.visual-refresh :is(
	[class^="container_"],
	[class^="chat_"][data-has-border=true],
	[class^="sidebarList_"],
	[class^="sidebarResizeHandle_"],),
.visual-refresh.theme-midnight :is(
	[class^="container_"],
	[class^="content_"],
	[class^="subtitleContainer_"]) {
	border: 0px;
}
/* Uncomment this if you want to remove dividers between sections of the channel list */
/* .visual-refresh [class^="sectionDivider_"] {
	display: none;
} */

/* Remove the rounded corner on top left of the channel list panel [me]
   (use when combined with removing top bar and using native title bar, or on web) 
   Also includes some fixes from the snippet for when top bar is present, scrollable server list 
   gets cut off on top by it [the.rabbit.disabler]
   (modified to fit with removed top bar so won't work well if you choose to not axe it) */
.visual-refresh {
	.sidebarListRounded_c48ade {
		border-top-left-radius: 0px;
	}
}
.title_c38106 {
	background-color: transparent;
	background: linear-gradient(to bottom, var(--background-base-lowest), #00000000);
}
.title_a7d72e {
	-webkit-app-region: drag;
}
.sidebar_c48ade {
	overflow: visible !important;
	position: relative;
}
.sidebarList_c48ade {
	margin-left: 72px;
}
.wrapper_ef3116{
	position: absolute;
	height: calc(100vh - 65px);
}

/* Make member list more compressed 
   (I can't find the source of this as many people have this in their snippets without credits) */
.membersWrap_c8ffbb {
	min-width: unset;
	>.members_c8ffbb {
		width: 240px;
		.membersGroup_c8ffbb { /* Paddings for role names */
			padding: 22px 0px 0 14px;
			height: 40px;
		}
		.member__5d473>.childContainer__91a9d { /* Paddings for list items */
			padding: 0px;
		}
		/* .name__91a9d { (Quick fix for PlatformIndicators on Vencord cf78ddc, no longer needed)
			width: unset !important;
		} */
	}
}

/* Align chat box with user area (the box with your name-status-mute-deafen-settings combo) [refact0r] */
.visual-refresh {
	--custom-channel-textarea-text-area-height: calc(52px - 4px); /* Chat box height (-4px for the border) */
	.form_f75fb0 {
		margin: 0 8px 8px 8px;
		padding: 0;
		--chatbar-border-color: var(--border-subtle);
	}
	.channelTextArea_f75fb0 { /* Chat input box */
		margin: 0;
		border-color: var(--chatbar-border-color);
		transition: none;
	}
	.base_b88801 { /* Typing indicator & Slow mode bar */
		top: -18px;
		left: 0px;
		right: 0px;
		height: 18px;
		background-color: var(--background-secondary);
		padding: 0 8px;
		border-radius: var(--radius-sm) var(--radius-sm) 0 0;
		border: 1px solid var(--chatbar-border-color);
		border-bottom: none;
		transition: none;
	}
	.text_b88801 .wrapper__44b0c { /* Typing indicator (with fix for TypingTweaks's avatars) */
		width: 14px !important;
		height: 14px !important;
		vertical-align: -2px;
		.svg__44b0c {
			width: 14px;
			height: 14px;
		}
	}
	.cooldownText_b21699 { /* Slow mode text & icon */
		font-size: 11.5px;
	}
	.slowModeIcon_b21699 {
		width: 14px !important;
		height: 14px !important;
	}
	.stackedBars__74017,
	.threadSuggestionBar__841c8 {
		border-color: var(--chatbar-border-color) !important;
	}
	.clipContainer__841c8 {
		padding-top: unset;
	}
	.form_f75fb0:has(.base_b88801) { /* When the typing & slow mode bar is present... */
		/* Make everything below it have no rounded corners on their top */
		.channelTextArea_f75fb0 { /* Top of the chat box */
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
		.replyBar__841c8 { 
			border-radius: 0px;
		}
		.banner__183e8 { /* Server Guide banners */
			border-radius: 0px;
		}
		.wrapper__44df5 { /* Annoucement channel "follow" bar */
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
	}
	.form_f75fb0:has(.wrapper__44df5) {
	/* Pad the typing bar as the follow bar is shorter */
		.base_b88801 {
			left: 8px;
			right: 8px;
		}
	}
	/* Brighter border when chat box is focused */
	.channelTextArea__74017:focus-within { /* For chat box itself */
		border-color: var(--app-border-frame) !important;
	}
	.form_f75fb0:has(.channelTextArea__74017:focus-within) { /* For typing/slowmode bar */
		.base_b88801 {
			border: 1px solid var(--app-border-frame);
			border-bottom: none;
		}
	}
	.scrollerSpacer__36d07 { /* Spacing between chat view & chat bar */
		height: 22px;
	}
	.scroller__36d07::-webkit-scrollbar-track { /* Chat view scroll bar's bottom spacing */
		margin-bottom: 20px;
	}
	.bottomBar__0f481 {
		margin-bottom: 25px;
	}
}
.visual-refresh [class^="attachWrapper_"] {
	width: 26px;
}

/* Remove Gift button [me] 
   (the label might change if you use another language)  */
button[aria-label="Send a gift"] {
	display: none;
}

/* Match user area height with the chat box, plus some additional fixes [me] */
.visual-refresh section[aria-label="User area"] {
	.container__37e49 {
		height: 52px;
	}
	border-color: var(--border-subtle) !important;
}
.visual-refresh section[aria-label="User area"]:has(.activityPanel_c48ade) {
	.container__37e49 {
		border-radius: 0 0 var(--radius-sm) var(--radius-sm);
	}
}
.visual-refresh nav:has([data-list-id="guildsnav"]) {
	height: -webkit-fill-available;
	bottom: 0px;
}

/* Revert user area [evie.flowers]
   (Remove or comment the fix one first) */
/*
.visual-refresh section[aria-label="User area"] {
	width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
	left: var(--custom-guild-list-width);
	bottom: 0px;
	border-radius: 0px;
	border: none;
}
.visual-refresh nav:has([data-list-id="guildsnav"]) {
	margin-bottom: unset;
}
*/
