/* BETTER VISUAL REFRESH - Native Title Bar edition - by Yae Mica.
   Restores the layout of the old UI to most areas of the new "Visual Refresh" UI without 
   breaking stuffs.

   Special thanks to the Vencord community server for these snippets. 
   Feel free to adjust to your liking. 

   Usage: Add the following line to THE TOP your QuickCSS 
   @import url("https://raw.githubusercontent.com/YMica-OSE/BetterVisualRefresh/refs/heads/main/BVR-NativeTitleBar.css");
   If you want to modify the contents, either copy this entire file to QuickCSS, 
   or upload this file to GitHub and change the import link to that.

   Be sure to give it a read first so you know what's gonna happen. */

/* Neccesary imports (MUST BE BEFORE ANY CSS CODE) */
@import url("https://raw.githubusercontent.com/YMica-OSE/BetterVisualRefresh/refs/heads/main/BVR-Core.css");
@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/browser.css"); /* (!) */

/* ========== AREA: SERVER LIST BAR (NTB specific) ========== */
/* Pin DMs icon to the top of guild list [xishiora] */
[class^=tutorialContainer]:first-of-type {
	top: 0;
}

/* ========== AREA: TOP BARS (NTB specific) ========== */

/* Remove the help button */
[class^=bar] {
	> [class^=trailing] {
		> a[href="https://support.discord.com"] { /* " */
			display: none;
		}
	}
}

/* No top bar new UI (2nd import + this below) [surgedevs & me] */
:root {
	--vr-header-snippet-server-padding: 0px !important; /* See .tutorialContainer__1f388 */
	--vr-header-snippet-space: 70px; /* Padding for the RHST. */
	--custom-channel-textarea-text-area-height: 52px !important;
}
.platform-win, .platform-linux, .platform-web {
	/* Controls the space above the DMs/Discord icon button for other platforms. 
	   12px was the size on the old UI 
	   The reason why we are doing this instead of the variable is because doing 
	   so creates a top gap when you scroll up. */
	.tutorialContainer__1f388 {
		margin-top: 12px !important;
	}
	div[class^=itemsContainer_] > div[class^=stack_] {
		margin-top: calc(var(--guildbar-avatar-size) + 18px) !important;
	}
	div[class^=unreadMentionsIndicatorTop] {
		margin-top: calc(var(--guildbar-avatar-size) + 18px) !important;
	}
}
.platform-osx { /* Control for macOS clients to account for the "traffic lights" */
	.tutorialContainer__1f388 {
		margin-top: 34px !important;
	}
	.mention__3b95d {
		margin-top: 34px;
	}
	div[class^=itemsContainer_] > div[class^=stack_] {
		margin-top: calc(var(--guildbar-avatar-size) + 30px) !important;
	}
	div[class^=unreadMentionsIndicatorTop] {
		margin-top: calc(var(--guildbar-avatar-size) + 30px) !important;
	}
}
.visual-refresh {
	.trailing_c38106 {
		/* IH buttons without the built-in window buttons to it will look sticked to the right
		   Remove this padding if you keep the window buttons */
		padding-right: 12px;
	}
	.searchBar__1ac1c {
		/* Alignment fix for search bar in Discover tab */
		position: relative;
		right: 80px;
	}
	/* Rounded corner elimination for top bars */
	.notice__6e2b9 {
		border-radius: 0px; 
	}
}
.visual-refresh:has(.container__01ae2) { /* container__01ae2 = side chat */
	/* Positioning for the RHST and IH buttons when side chat is opened (threads/VC chat) [still me] */
	.container__9293f {
		padding-right: 24px !important;
	}
	.toolbar__9293f {
		padding-right: 0px !important;
	}
	.trailing_c38106 {
		right: 40px !important;
	}
	.container__01ae2 {
		.children__9293f {
			margin-right: 100px;
		}
	}
}
.visual-refresh:has(.button__85643[aria-label="Update Ready!"]) {
	/* Account spacing of the RHST when there's the "Update Now!" button [me] */
	.toolbar__9293f {
		padding-right: 46px;
	}
}
.visual-refresh:has(.container__01ae2):has(.iconWrapper__9293f[aria-label="More"]) { 
	/* Side chat with the "More" (...) button */
	.trailing_c38106 {
		right: 80px !important;
	}
}
.visual-refresh:has(.container__01ae2):has(.iconWrapper__9293f[aria-label="Notification Settings"]) { 
	/* Side chat with the "Notification Settings" (...) button (currently does not work) */
	.trailing_c38106 {
		right: 120px !important;
	}
}
.visual-refresh:has(.returnButton__0b563) {
	/* Account for the Channel select page */
	.bar_c38106 {
		position: relative !important;
		top: 12px !important;
	}
}
.visual-refresh:has(div[class^=notice_]) {
	/* Top padding for when the top banner shows */
	.trailing_c38106 {
		top: 38px;
	}
}

/* Remove built-in window buttons on clients. For use with native titlebar and browser.css [me] */
div[class^="winButtons"] {
	display: none !important;
}

/* Remove the rounded corner on top left of the channel list panel [me]
   (use when combined with removing top bar and using native title bar, or on web) */
.visual-refresh {
	.sidebarListRounded_c48ade {
		border-top-left-radius: 0px;
	}
}
