/* BETTER VISUAL REFRESH by Yae Mica.
   Restores the layout of the old UI to most areas of the new "Visual Refresh" UI without 
   breaking stuffs.

   Special thanks to the Vencord community server for these snippets. 
   Feel free to adjust to your liking. 

   This file is the main core of the theme, containing most of the modifications that 
   doesn't have to do with the titlebar. 
   You can import this if you want to leave the titlebar untouched.
*/

/* Neccesary imports (MUST BE BEFORE ANY CSS CODE) */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/OtherStuff/Search-As-Button.css");

/* ========== AREA: SERVER LIST BAR ========== */

/* Revert guild icons look (1st import) [scattagain] */
/* Also remove the web download button while at it [me] */
div[class^="listItem"]:has([data-list-item-id="guildsnav___app-download-button"]) {
	display: none !important;
}

/* Pin DMs icon to the top of guild list [xishiora] */
[class^=tutorialContainer]:first-of-type {
	position: fixed !important;
	top: calc(var(--custom-app-top-bar-height) + 8px);
	left: 0;
	z-index: 1;
}
div[class^=itemsContainer_] > div[class^=stack_] {
	margin-top: calc(var(--guildbar-avatar-size) + 16px) !important;
}
div[class^=unreadMentionsIndicatorTop] {
	margin-top: calc(var(--guildbar-avatar-size) + 16px) !important;
}

/* ========== AREA: TOP BARS ========== */

.visual-refresh {
	.toolbar__9293f {
		.iconWrapper__9293f {
			left: 4px; /* This also shifts the search icon when unfocused (see 3rd import) */
		}
	}
	/* Makes sure the notice bars on top (for things like Streamer Mode) won't overlap server list. 
	   Based on evie.flower's code */
	.notice__6e2b9 {
		--custom-notice-bar-excess: 32px; /* The bars are somehow longer than 100%? */
		width: calc(100% - var(--custom-guild-list-width) - var(--custom-notice-bar-excess)); 
		left: var(--custom-guild-list-width);
	}
	.notice_c9e42f { /* And it differs between bars as well? (This is the "View server as role" bar) */
		--custom-notice-bar-excess: 17px; 
	}
}

/* Make search box a button when unfocused (3rd import) [KrstlSkll69] */
/* Fix the icon alignment [me] */
.icon_fea832 {
	left: 8px;
}

/* Remove the unneccesary invite button on the server banner (me) */
.visual-refresh {
	.inviteButton_f37cb1 {
		display: none;
	}
}

/* ========== AREA: RIGHT PANEL ========== */

/* Make member list more compressed 
   (I can't find the source of this as many people have this in their snippets without credits) */
.membersWrap_c8ffbb {
	min-width: unset;
	>.members_c8ffbb {
		width: 240px;
		.membersGroup_c8ffbb { /* Paddings for role names */
			padding: 22px 0px 0 14px;
			height: 40px;
		}
		.member__5d473>.childContainer__91a9d { /* Paddings for list items */
			padding: 0px;
		}
	}
}

/* ========== AREA: BOTTOM BARS ========== */

/* Align chat box with user area (the box with your name-status-mute-deafen-settings combo) [refact0r] */
.visual-refresh {
	--custom-channel-textarea-text-area-height: calc(52px); /* Chat box height (-4px for the border) */
	.form_f75fb0 {
		margin: 0 8px 8px 8px;
		padding: 0;
		--chatbar-border-color: var(--border-subtle);
	}
	.channelTextArea_f75fb0 { /* Chat input box */
		margin: 0;
		border-color: var(--chatbar-border-color);
		transition: none;
	}
	.base_b88801 { /* Typing indicator & Slow mode bar */
		top: -18px;
		left: 0px;
		right: 0px;
		height: 18px;
		background-color: var(--background-secondary);
		padding: 0 8px;
		border-radius: var(--radius-sm) var(--radius-sm) 0 0;
		border: 1px solid var(--chatbar-border-color);
		border-bottom: none;
		transition: none;
	}
	.text_b88801 .wrapper__44b0c { /* Typing indicator (with fix for TypingTweaks's avatars) */
		width: 14px !important;
		height: 14px !important;
		vertical-align: -2px;
		.svg__44b0c {
			width: 14px;
			height: 14px;
		}
	}
	.cooldownText_b21699 { /* Slow mode text & icon */
		font-size: 11.5px;
	}
	.slowModeIcon_b21699 {
		width: 14px !important;
		height: 14px !important;
	}
	.stackedBars__74017,
	.threadSuggestionBar__841c8 {
		border-color: var(--chatbar-border-color) !important;
	}
	.clipContainer__841c8 {
		padding-top: unset;
	}
	.form_f75fb0:has(.base_b88801) { /* When the typing & slow mode bar is present... */
		/* Make everything below it have no rounded corners on their top */
		.channelTextArea_f75fb0 { /* Top of the chat box */
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
		.replyBar__841c8 { 
			border-radius: 0px;
		}
		.banner__183e8 { /* Server Guide banners */
			border-radius: 0px;
		}
		.wrapper__44df5 { /* Annoucement channel "follow" bar */
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
	}
	.form_f75fb0:has(.wrapper__44df5) {
	/* Pad the typing bar as the follow bar is shorter */
		.base_b88801 {
			left: 8px;
			right: 8px;
		}
	}
	/* Brighter border when chat box is focused */
	.channelTextArea__74017:focus-within { /* For chat box itself */
		border-color: var(--app-border-frame) !important;
	}
	.form_f75fb0:has(.channelTextArea__74017:focus-within) { /* For typing/slowmode bar */
		.base_b88801 {
			border: 1px solid var(--app-border-frame);
			border-bottom: none;
		}
	}
	.scrollerSpacer__36d07 { /* Spacing between chat view & chat bar */
		height: 22px;
	}
	.scroller__36d07::-webkit-scrollbar-track { /* Chat view scroll bar's bottom spacing */
		margin-bottom: 20px;
	}
	.bottomBar__0f481 {
		margin-bottom: 25px;
	}
}
.visual-refresh [class^="attachWrapper_"] {
	width: 26px;
}

/* Remove Gift button [me] 
   (the label might change if you use another language)  */
button[aria-label="Send a gift"] {
	display: none;
}

/* Match user area height with the chat box, plus some additional fixes [me] */
.visual-refresh section[aria-label="User area"] {
	.container__37e49 {
		height: 52px;
	}
	border-color: var(--border-subtle) !important;
}
.visual-refresh section[aria-label="User area"]:has(.activityPanel_c48ade) {
	.container__37e49 {
		border-radius: 0 0 var(--radius-sm) var(--radius-sm);
	}
}
.visual-refresh nav:has([data-list-id="guildsnav"]) {
	height: -webkit-fill-available;
	bottom: 0px;
}

/* ========== EXTRA TWEAKS ========== */

/* Compact context menu [.abbie] 
   Taken from https://abbie.github.io/discord-css/import.css */
div[class*="clickTrapContainer"] div[role="menu"] :is([id*="message-quickreact"], [id*="message-actions-quickreact"]) {
	display: none;
}
div[class*="clickTrapContainer"] div[role="menu"] {
	div[role="group"] {
		padding: 0;
	}
	div:is([role="menuitem"],[role="menuitemcheckbox"]), div[class*="hideInteraction_"] {
		padding: 4px;
		&:not([class*="colorDanger_"], :hover) div[class*="label_"] {
			color: var(--interactive-normal);
		}
	}
}

/* Remove 1px padding across the new UI (I forgot who I sourced this from, sorry) */
.visual-refresh :is(
	[class^="container_"],
	[class^="chat_"][data-has-border=true],
	[class^="sidebarList_"],
	[class^="sidebarResizeHandle_"],),
.visual-refresh.theme-midnight :is(
	[class^="container_"],
	[class^="content_"],
	[class^="subtitleContainer_"]) {
	border: 0px;
}
/* Uncomment this if you want to remove dividers between sections of the channel list */
/* .visual-refresh [class^="sectionDivider_"] {
	display: none;
} */