/* BETTER VISUAL REFRESH by Yae Mica.
   Restores the layout of the old UI to most areas of the new "Visual Refresh" UI without 
   breaking stuffs.

   Special thanks to the Vencord community server for these snippets. 
   Feel free to adjust to your liking. 

   This file is the main core of the theme, containing most of the modifications that 
   doesn't have to do with the titlebar. 
   You can import this if you want to leave the titlebar untouched.
*/

/* Neccesary imports (MUST BE BEFORE ANY CSS CODE) */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

/* ========== AREA: SERVER LIST BAR ========== */

/* Revert guild icons look (1st import) [scattagain] */
/* Also remove the web download button while at it [me] */
div[class^="listItem"]:has([data-list-item-id="guildsnav___app-download-button"]) {
	display: none !important;
}

/* ========== AREA: TOP BARS ========== */

/* Make search box shorter unfocused [me, taken from KrstlSkll69] */
.search__97492:not(.open__97492)>.searchBar__97492 {
	width: 84px;
}

/* ========== AREA: RIGHT PANEL ========== */

/* Make member list more compressed 
   (I can't find the source of this as many people have this in their snippets without credits) */
[class^=membersWrap] {
	min-width: unset;
	> [class^=members] {
		width: 240px;
		[class^=membersGroup] { /* Paddings for role names */
			padding: 22px 0px 0 14px;
			height: 40px;
		}
		[class^=member] > [class^=childContainer] { /* Paddings for list items */
			padding: 0px;
		}
	}
}

/* ========== AREA: BOTTOM BARS ========== */

/* Remove Gift button [me] 
   (the label might change if you use another language)  */
div[aria-label="Send a gift"] {
	display: none;
}

/* ========== EXTRA TWEAKS ========== */

/* Compact context menu [.abbie] 
   Taken from https://abbie.github.io/discord-css/import.css */
div[class*="clickTrapContainer"] div[role="menu"] :is([id*="message-quickreact"], [id*="message-actions-quickreact"]) {
	display: none;
}
div[class*="clickTrapContainer"] div[role="menu"] {
	div[role="group"] {
		padding: 0;
	}
	div:is([role="menuitem"],[role="menuitemcheckbox"]), div[class*="hideInteraction_"] {
		padding: 4px;
		&:not([class*="colorDanger_"], :hover) div[class*="label_"] {
			color: var(--interactive-normal);
		}
	}
}

