/* BETTER VISUAL REFRESH by Yae Mica.
   Restores the layout of the old UI to most areas of the new "Visual Refresh" UI without 
   breaking stuffs.

   Special thanks to the Vencord community server for these snippets. 
   Feel free to adjust to your liking. 

   This file is the main core of the theme, containing most of the modifications that 
   doesn't have to do with the titlebar. 
   You can import this if you want to leave the titlebar untouched.
*/

/* Neccesary imports (MUST BE BEFORE ANY CSS CODE) */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

/* ========== AREA: SERVER LIST BAR ========== */

/* Revert guild icons look (1st import) [scattagain] */
/* Also remove the web download button while at it [me] */
div[class^="listItem"]:has([data-list-item-id="guildsnav___app-download-button"]) {
	display: none !important;
}

/* Pin DMs icon to the top of guild list [xishiora] */
[class^=tutorialContainer]:first-of-type {
	position: fixed !important;
	left: 0;
	z-index: 1;
}

/* ========== AREA: TOP BARS ========== */

.visual-refresh {
	.toolbar__9293f {
		.iconWrapper__9293f {
			left: 4px; /* This also shifts the search icon when unfocused (see 3rd import) */
		}
	}
	/* Makes sure the notice bars on top (for things like Streamer Mode) won't overlap server list. 
	   Based on evie.flower's code */
	.notice__6e2b9 {
		width: calc(100% - var(--custom-guild-list-width) - var(--custom-notice-bar-excess)); 
	}
}

/* Make search box shorter unfocused [me, taken from KrstlSkll69] */
.search__97492:not(.open__97492)>.searchBar__97492 {
	width: 84px;
}

/* Remove the unneccesary invite button on the server banner (me) */
.visual-refresh {
	.inviteButton_f37cb1 {
		display: none;
	}
}

/* ========== AREA: RIGHT PANEL ========== */

/* Make member list more compressed 
   (I can't find the source of this as many people have this in their snippets without credits) */
.membersWrap_c8ffbb {
	min-width: unset;
	>.members_c8ffbb {
		width: 240px;
		.membersGroup_c8ffbb { /* Paddings for role names */
			padding: 22px 0px 0 14px;
			height: 40px;
		}
		.member__5d473>.childContainer__91a9d { /* Paddings for list items */
			padding: 0px;
		}
	}
}

/* ========== AREA: BOTTOM BARS ========== */

/* Remove Gift button [me] 
   (the label might change if you use another language)  */
button[aria-label="Send a gift"] {
	display: none;
}
/* Additional fixes [me] */
.visual-refresh section[aria-label="User area"] {
	.container__37e49 {
		height: 57px;
	}
	border-color: var(--border-subtle) !important;
}
.visual-refresh nav:has([data-list-id="guildsnav"]) {
	height: -webkit-fill-available;
	bottom: 0px;
}

/* ========== EXTRA TWEAKS ========== */

/* Compact context menu [.abbie] 
   Taken from https://abbie.github.io/discord-css/import.css */
div[class*="clickTrapContainer"] div[role="menu"] :is([id*="message-quickreact"], [id*="message-actions-quickreact"]) {
	display: none;
}
div[class*="clickTrapContainer"] div[role="menu"] {
	div[role="group"] {
		padding: 0;
	}
	div:is([role="menuitem"],[role="menuitemcheckbox"]), div[class*="hideInteraction_"] {
		padding: 4px;
		&:not([class*="colorDanger_"], :hover) div[class*="label_"] {
			color: var(--interactive-normal);
		}
	}
}

/* Remove 1px padding across the new UI (I forgot who I sourced this from, sorry) */
.visual-refresh :is(
	[class^="container_"],
	[class^="chat_"][data-has-border=true],
	[class^="sidebarList_"],
	[class^="sidebarResizeHandle_"],),
.visual-refresh.theme-midnight :is(
	[class^="container_"],
	[class^="content_"],
	[class^="subtitleContainer_"]) {
	border: 0px;
}
/* Uncomment this if you want to remove dividers between sections of the channel list */
/* .visual-refresh [class^="sectionDivider_"] {
	display: none;
} */
