/* BETTER VISUAL REFRESH - Transparent UI by Yae Mica.
   A color theme for Windows clients with transparency enabled, mostly respecting whatever
   material is at the bottom of the window.

   Usage: Add ONE OF the following line to THE TOP your QuickCSS 
   @import url("https://raw.githubusercontent.com/YMica-OSE/BetterVisualRefresh/refs/heads/main/TransparentUI.css");
   @import url("https://gitlab.com/api/v4/projects/sakura.osesoft%2FBetterVisualRefresh/repository/files/TransparentUI.css/raw");
   or add ONE OF the URL to Online themes in Vencord settings.
   You MUST have either the default "Ash" or "Dark" themes set ("Light" and "Onyx" may cause readability issues, and
   Nitro themes creates a weird setup that disables most of the transparency effects). For official clients with Vencord,
   you do not need "Enable window transparency" turned on, just selecting "Background Material" is enough.

   Be sure to give the code a read first so you know what's gonna happen.
*/

.platform-win:not(.custom-theme-background) {
	/* Set the default gray text to a constant, ensuring visibilty regardless of base theme */
	div {
		--channels-default: rgba(172,172,172,1) !important;
	}
	/* Set transparency for the base background layer */
	body {
		background-color: rgba(0,0,0,0.35) !important;
	}

	/* Undecorate most of the background layers across various elements */
	[class*="appMount"] {
		background: var(--app-bg) !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: cover !important;
	}
	[class*="app_"], [class*="bg_"], /* Extra background layers */
	[class*="guilds"], [class*="sidebar"]:after, /* Servers bar */
	[class*="homeWrapper"], [class*="shopHomeLink"], [class*="shopScroll"], /* Shop pages */
	[class*="tabBar"] > [class*="item"], /* Tab buttons in Friends page */
	[class*="content"] > [class*="member"], [class*="nowPlayingColumn"], /* Now playing in Friends page */
	[class*="privateChannels"] > [class*="scrollerBase"], /* DM list (not the area, the list itself) */
	[class*="privateChannelsHeaderContainer"], /* DM list breadcumbs */
	[class*="channelTextArea"], /* Background beneath chat box */
	[class*="chat"] > [class*="content"] > [class*="container"], /* The rest from here I forgot what they are for */
	[class*="scrollerInner"] > [class*="wrapper"],
	[class*="scrollerInner"] > [class*="wrapper"] > [class*="cozy"],
	[data-list-item-id*="chat-messages___divider"] > [class*="content"] {
		background-color: transparent !important;
	}

	/* Make certain areas darker for contrast */ 
	[class*="sidebarList"] > [class*="container"], /* Server channels list area */
	[class*="sidebarList"] > [class*="privateChannels"], /* DM lists area */
	[class*="base"] > [class*="content"] > [class*="page"] > [class*="container"], [class*="tabBody"], /* Background for most things in the DMs "server" */
	[class*="page"] > [class*="container"] > [class*="scroller"],
	[class*="shopViewWrapper"] > [class*="pageWrapper"] > [class*="page"], /* Shop inner pages */
	[class*="homeWrapper"] > [class*="mainPageScroller"], 
	[class*="page"] > div > [class*="chat"], /* Main chat area */
	[class*="membersWrap"] > [class*="members"], /* Server members list */
	[class*="chatContent"], [class*="themed"], [class*="applicationStore"], [class*="shop_"] {
		background-color: rgba(0,0,0,0.35) !important;
	}
	/* Make certain areas slightly more gray also for contrast */
	[class*="channelTextArea"] > [class*="scrollableContainer"], [class*="embedFull"], /* Embeds */
	[class*="chatContent"] > [class*="form"] > [class*="wrapper"], /* Something in around the chat box area I forgot */
	[class*="members"] > [role="list"] > div > [role="button"] > [class*="container"], /* User activity cards */
	[class*="sidebar"] > [class*="panels"], /* User profile & Voice/Settings buttons area */
	[class*="nowPlayingColumn"] > [class*="container"] > [class*="scroller"] > div > [class*="itemCard"], /* Now playing activity cards */
	[class*="listItemContents"] > [class*="actions"] > [class*="actionButton"], /* Friends list action buttons */
	[class*="stackedBars"], /* Reply bar atop the chat box */
	.vc-shiki-container {
		background-color: rgba(64,64,64,0.4) !important;
	}

	/* Fit and finishes to account for the transparent elements */
	[class*="codeContainer"] > [class*="scrollbarGhostHairline"] {
		background: rgba(64,64,64,0.4) !important;
	}
	[class*="sidebarList"] {
		backdrop-filter: none !important;
	}
	[class*="channelTextArea"] {
		border-color: rgba(128,128,128,0.35) !important;
	}
	[class*="upperContainer"] > [class*="children"]:after,
	[class*="chatGradient"] { 
		display: none !important;
	}
	[class*="sidebarList"] >  [class*="container"] > [class*="scroller"] {
		clip-path: inset(0 0 12px 0) !important;
	}
	[class*="sidebarList"] > [class*="privateChannels"] > [class*="scroller"], 
	[class*="messagesWrapper"] > [class*="scroller"] {
		clip-path: inset(0 0 16px 0) !important;
	}
}
